# Steam library VDF file location
library_vdf_path = "YOUR_STEAM_LIBRARY_VDF_PATH"

# Sunshine apps.json location
apps_json_path = "YOUR_SUNSHINE_APPS_JSON_PATH"

# Sunshine grids folder
grids_folder = "YOUR_SUNSHINE_GRIDS_FOLDER_PATH"

# SteamGridDB API key (get from https://www.steamgriddb.com/profile/preferences)
steamgriddb_api_key = "YOUR_STEAMGRIDDB_API_KEY"

# Steam executable path
steam_exe_path = "YOUR_STEAM_EXE_PATH"

# Sunshine executable path
sunshine_exe_path = "YOUR_SUNSHINE_EXE_PATH"